<!----- Product show ---->
<% @products.each do |product| %>
 <div class="col-md-3 blog-main box text-center" id="product_<%= @product.id %>">
        <div class="panel panel-info">
            <div class="panel-heading">
               <h3 class="panel-title">Name: <%= link_to @product.name,product%></h3>
               <p1>Price: <%= product.price %></p1><br>
               <p1>Stock: <%= product.stock %></p1>
            </div>
            <div class="panel-body">
                <div class="product-image">
                  <%= image_tag product.image_url %>
                </div>
                <br>
                <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateproduct_<%= product.id %>">Edit
                      </button>
                      <%= render @products %>
                      <%= link_to 'Destroy', product, method: :delete, remote: true, class: "btn btn-danger" %>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showproduct_<%= product.id %>">Show
                      </button>
               </div>
            </div>
        </div>
 </div>
 <% end %>
<!------ end of product show ------->
