<!----- Product show ---->
 <div class="col-md-3 blog-main box text-center" id="product_<%= product.id %>">
        <div class="panel panel-info">
            <div class="panel-heading">
               <h3 class="panel-title">Name: <%= link_to product.name,product%></h3>
               <p1>Price: <%= product.price %></p1><br>
               <p1>Stock: <%= product.stock %></p1>
            </div>
            <div class="panel-body">
                <div class="product-image">
                  <%= image_tag product.image_url %>
                </div>
                <br>
                <% if can? :update,product %>
                <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateproduct_<%= product.id %>">
                      <%= link_to 'Edit' %>
                      </button>
                      <% end %>
                      <% if can? :destroy,product %>
                      <%= link_to 'Destroy', product, method: :delete, remote: true, class: "btn btn-danger" %>
                      <% end %>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showproduct_<%= product.id %>">Show
                      </button>
               </div>
            </div>
        </div>
 </div>
<!------ end of product show ------->
<!-- Modal for show --> 
    <div class="modal fade" id="showproduct_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                    <div class="modal-content">
                         <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;
                              </span>
                              </button>
                              <h3 class="modal-title" id="myModalLabel">Show</h3>
                         </div>
                         <div class="modal-body">
                             <div class="row">
                                   <div class="col-md-6">
                                         <div class="product-image">
                                            <%= image_tag product.image_url %>
                                         </div>
                                   </div>
                                   <div class="col-md-6">
                                    <h3>Name: <%= link_to product.name, product %></h3>
                                    <td>Price: <%= product.price %></td><br>
                                    <td>Stock: <%= product.stock %></td><br>
                                    <td>Stock: <%= product.category %></td><br>
                                    <td>Stock: <%= product.stock%></td><br>
                                    <%= link_to "Add to Cart", product, class: "btn btn-success" %>
                                   </div>
                             </div>
                         </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="show_<%= product.id %>">Close
                                </button>
                           </div>
                    </div>
            </div>
    </div>
<!-- End modal for show --> 


<!-- Modal for update -->
<%= form_for(product, :method => :put, remote: true) do |f| %>
      <div class="modal fade" id="updateproduct_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                     <div class="modal-content">
                           <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                     <span aria-hidden="true">&times;
                                     </span>
                                 </button>
                                 <h5 class="modal-title" id="myModalLabel">Edit</h5>
                          </div>
                          <div class="modal-body">
                                 <div class="field">
                                     <%= f.label :name %> <br>
                                     <%= f.text_field :name, class: "form-control post_title" %>
                                 </div>
                                 <div class="field">
                                     <%= f.label :description %> <br>
                                     <%= f.text_area :description, class: "form-control post_content" %>
                                 </div>
                                 <div class="field">
                                     <%= f.label :price %> <br>
                                     <%= f.text_field :price, class: "form-control post_title" %>
                                 </div>
                                 <div class="field">
                                     <%= f.label :category %> <br>
                                     <%= f.collection_select :category, Product::CATEGORY, :to_s, :humanize %>
                                 </div>
                                 <div class="field">
                                     <%= f.label :stock %> <br>
                                     <%= f.text_field :stock, class: "form-control post_title" %>
                                 </div>
                                 <div class="field">
                                     <%= f.file_field :image %>
                                     </div>
                                 </div>
                               <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="updatebutton_<%= product.id %>">Close
                                      </button>
                                      <%= submit_tag "Update", class: "btn btn-primary" %>
                              </div>
                          </div>
             </div>
      </div>
<% end %>

<!------End modal for update -------->

